*body{
    margin: 0px;
    padding: 0px;
}


#container{
    width: 80%;
    height: 580px;
    border: solid black;
    background-color: brown;
    margin-left: 150px;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;

}

input{
    height: 40px;
    width: 250px;
    font-size: 20px;
}

button{
    height: 40px;
    width: 150px;
    font-size: 20px;
}